@import "base";

.form {
  display: flex;
  width: 800px;
  max-width: 100%;
  box-shadow: getShadow(main);
  @extend %popup-fade-out;
  background-color: getColor(main);
  &__btn_back,
  &__btn_close {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    // visibility: visible;
    pointer-events: visible;
    opacity: 1;
    &__close {
      opacity: 0;
      // visibility: hidden;
      pointer-events: hidden;
    }
  }
  &__btn_close {
    left: auto;
    right: 30px;
  }
  &__active {
    @extend %popup-fade-in;
  }
  &__wrapper {
    width: 50%;
  }
  &__title {
    text-align: center;
    position: relative;
    font-size: 2em;
    margin-top: 5px;
    font-weight: normal;
    // font-family: getFont(second);
    padding: 20px 0;
    color: getColor(font-light);
    background-color: getColor(main);
    // border-bottom: 1px solid getColor(main);
    // border-bottom: 1px solid getColor(main-dark);
    box-shadow: getShadow(thin);
    z-index: 3;
  }
  &__wrapper_forms {
    display: flex;
    position: relative;
    min-height: 340px;
  }
  &__wrapper_form {
    position: absolute;
    background-color: getColor(secondary);
    left: 0%;
    right: 0;
    bottom: 0;
    top: 0;
    transition: getTransition(main);
    &:first-child {
      transform: scale(0.8);
      border-right: 1px solid getColor(main);
    }
  }
  &__fields {
    padding: 25px;
  }
  &__btns {
    padding: 0px 25px;
    display: flex;
    justify-content: center;
  }
  &__sidebar {
    width: 50%;
    overflow: hidden;
    @extend %background-accent;
    display: flex;
  }
  &__sidebar_title {
    font-weight: normal;
    font-size: 2em;
    font-family: getFont(second);
    color: getColor(secondary);
  }
  &__paragraph {
    color: getColor(secondary);
    text-align: center;
    margin: 25px 0;
  }
  &__sidebar_content {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
  }
}
