@import "base";

.form {
  width: 450px;
  max-width: 100%;
  box-shadow: getShadow(main);
  @extend %popup-fade-out;
  background-color: getColor(main);
  &__btn_close {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
  }
  &__btn_close {
    left: auto;
    right: 30px;
  }
  &__active {
    @extend %popup-fade-in;
  }
  &__title {
    text-align: center;
    position: relative;
    font-size: 2em;
    font-family: getFont(third);
    padding: 14px 0;
    color: getColor(font-light);
    border-bottom: 1px solid getColor(main-dark);
  }
  &__wrapper_form {
    background-color: getColor(secondary);
    position: relative;
  }
  &__fields {
    padding: 25px;
    padding-bottom: 10px;
  }
  &__btns {
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
  }
}
