@import "base";

.btn {
  padding: 11px 12px;
  display: flex;
  align-items: center;
  // border-radius: getRadius(main);
  transition: getTransition(main);
  color: getColor(font-white);
  &__reverse_icon {
    flex-direction: row-reverse;
  }
  &:active {
    box-shadow: none;
    transform: scale(0.95);
    opacity: 0.5;
  }
  &:hover {
    border-color: getColor(accent);
  }
  &__icon {
    margin: 0px 4px;
    font-size: 20px;
    position: relative;
    z-index: 2;
  }
  &__title {
    margin: 0px 5px;
    position: relative;
    z-index: 2;
  }
}

.btn_primary {
  @extend %btn-accent;
}
.btn_simple {
  color: getColor(font);
  background-color: transparent;
  border: 1px solid getColor(main-dark);
}
.btn_clear {
  color: getColor(font-white);
  background-color: transparent;
  border: 1px solid transparent;
  &:hover {
    border-color: getColor(bg-light);
  }
}
.btn_disabled {
  color: getColor(font);
  background-color: getColor(main-dark);
  border: 1px solid transparent;
  &:active {
    transform: none;
  }
  &:hover {
    border-color: transparent;
  }
}
.btn_activated {
  background-color: getColor(secondary);
  border: 1px solid transparent;
}
.btn_outline_light {
  border: 1px solid getColor(bg-light);
  color: getColor(font-white);
  background-color: transparent;
  &:hover {
    background-color: getColor(bg-light);
    border-color: transparent;
  }
}

.btn_link {
  background-color: getColor(font-white);
  padding: 7px 10px;
  margin: 4px;
  margin-right: 0px;
  margin-bottom: 0px;
  // border-radius: getRadius(main);
  border: 1px solid getColor(main-dark);
  position: relative;
  z-index: 2;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: getShadow(thin);
  cursor: pointer;
  transition: getTransition(main);
  &__active {
    border-color: getColor(success);
    box-shadow: getShadow(success);
  }
  &__delete {
    width: 20px;
    height: 20px;
    display: flex;
    border-radius: 50%;
    background-color: getColor(main-dark);
    color: getColor(font-white);
    margin-left: 7px;
    & > * {
      margin: auto;
    }
  }
  &__title {
    font-size: 0.9em;
  }
}

.btns_pagination {
  display: flex;
  justify-content: center;
  border-top: 1px solid getColor(main-dark);
  margin: 0 auto;
  padding-top: 20px;
  margin-top: 15px;
  &__top {
    border-bottom: 1px solid getColor(main-dark);
    border-top: none;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 15px;
    padding-bottom: 20px;
  }
}

.btn_pagination {
  height: 35px;
  min-width: 35px;
  padding: 0 5px;
  display: flex;
  margin: 0px 2px;
  border: 1px solid getColor(main-dark);
  background-color: getColor(secondary);
  // border-radius: getRadius(main);
  box-shadow: getShadow(thin);
  transition: getTransition(main);
  &:hover {
    box-shadow: none;
  }
  &:active {
    opacity: 0.5;
  }
  & > * {
    margin: auto;
  }
  &__active {
    @extend %btn-accent;
  }
}

.btn_pagin_arrow {
  padding: 0px 15px;
  margin-left: 5px;
  margin-right: 3px;
  &:first-child {
    margin-right: 5px;
    margin-left: 3px;
  }
  &__disabled {
    background-color: getColor(main);
    color: getColor(font);
    cursor: default;
    box-shadow: none;
  }
}

.btn_tab {
  display: flex;
  background-color: getColor(secondary);
  border: 1px solid getColor(main-dark);
  width: 30px;
  height: 30px;
  box-shadow: getShadow(thin);
  transition: getTransition(main);
  cursor: pointer;
  & > * {
    font-size: 18px;
    margin: auto;
  }
  &:hover {
    box-shadow: none;
  }
  &:active {
    opacity: 0.5;
  }
}

.btn_form_plus {
  width: 42.4px;
  height: 42.4px;
  margin-right: 10px;
  @extend %btn-accent;
  box-shadow: getShadow(main);
  &:hover {
    box-shadow: getShadow(second);
  }
}

.btn_tab_glass {
  background-color: transparent;
  border: 1px solid getColor(bg-light);
  box-shadow: none;
  color: getColor(font-white);
  &:hover {
    background-color: getColor(bg-light);
    border-color: transparent;
  }
  &:active {
    transform: scale(0.9);
    opacity: 0.5;
  }
}

.btn_menu {
  position: relative;
  z-index: 9;
  display: none;
  &__toggle {
    @extend %flex-center;
    flex-direction: column;
    width: 45px;
    height: 45px;
    background-color: getColor(secondary);
    transition: getTransition(main);
    &:hover {
      background-color: getColor(main);
    }
    &__active {
      .btn_menu__line {
        &:nth-child(1) {
          transform: translateY(7.5px) rotate(-45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          width: 25px;
          transform: translateY(-8px) rotate(45deg);
        }
      }
    }
  }
  &__line {
    display: block;
    width: 25px;
    height: 2px;
    background-color: getColor(font);
    margin-top: 6px;
    margin-left: auto;
    transition: getTransition(main);
    &:nth-child(1) {
      margin-top: 0px;
    }
  }
  &__dropdown {
    position: absolute;
    box-shadow: getShadow(secondary);
    transition: getTransition(main);
    opacity: 0;
    background-color: getColor(secondary);
    visibility: hidden;
    transform-origin: top center;
    transform: translateY(30px);
    padding: 5px 0;
    &__open {
      opacity: 1;
      visibility: visible;
      transform: translateY(0px);
    }
  }
  &__link {
    min-width: 250px;
    padding: 7px 25px;
    background-color: getColor(secondary);
    text-align: start;
    transition: getTransition(main);
    margin-top: 5px;
    &:first-child {
      margin-top: 0;
    }
    &:hover {
      background-color: getColor(main);
    }
    &__active {
      color: getColor(accent);
      position: relative;
      &::before {
        content: "";
        top: 0;
        bottom: 0;
        position: absolute;
        width: 5px;
        left: 0;
        background-color: getColor(accent);
      }
    }
  }
}

.btn_download {
  @extend %flex-center;
  align-items: stretch;
  box-shadow: getShadow(main);
  // border-radius: getRadius(main);
  transition: getTransition(main);
  &:hover {
    box-shadow: getShadow(second);
  }
  &:active {
    box-shadow: none;
    transform: scale(0.95);
    opacity: 0.5;
  }
  &__wrapper {
    padding: 11px 12px;
    @extend %flex-center;
    @extend %btn-accent;
    box-shadow: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
    transform: none !important;
    &__simple {
      border-top-right-radius: getRadius(main);
      border-bottom-right-radius: getRadius(main);
    }
  }
  &__icon {
    margin: 0px 4px;
    font-size: 20px;
  }
  &__title {
    margin: 0px 5px;
    color: getColor(font-white);
    transition: getTransition(main);
    &:hover {
      color: getColor(font-white);
    }
  }
  &__edit {
    height: auto;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: none;
    width: 40px;
    border-color: getColor(secondary);
  }
}

.btn_check {
  @extend %flex-center;
  background-color: transparent;
  padding: 10px 7px;
  transition: getTransition(main);
  gap: 7px;
  &:hover {
    .btn_check__title {
      color: getColor(accent-second);
    }
  }
  &__check {
    width: 20px;
    height: 20px;
    border: 1px solid getColor(main-dark);
    display: flex;
  }
  &__icon {
    opacity: 0;
    transition: getTransition(main);
    margin: auto;
    color: getColor(accent);
    &__active {
      opacity: 1;
    }
  }
  &__title {
  }
}

@media (max-width: 1000px) {
  .btn_menu {
    display: block;
  }
}
