@import "base";

.btn {
  padding: 14px 13px;
  display: flex;
  align-items: center;
  border-radius: getRadius(main);
  transition: getTransition(main);
  color: getColor(font-white);
  &:active {
    box-shadow: none;
    transform: scale(0.95);
    opacity: 0.5;
  }
  &:hover {
    border-color: getColor(accent);
  }
  &__icon {
    margin: 0px 4px;
    font-size: 25px;
  }
  &__title {
    margin: 0px 4px;
  }
}

.btn_primary {
  box-shadow: getShadow(main);
  background-image: getGradient(main);
  border: 1px solid getColor(main-white);
  &:hover {
    border-color: white;
    box-shadow: getShadow(second);
  }
}
.btn_simple {
  background-color: transparent;
  border: 1px solid getColor(main-dark);
}
.btn_activated {
  background-color: getColor(secondary);
  border: 1px solid transparent;
}
.btn_outline_light {
  border: 1px solid getColor(font-white);
  color: getColor(font-white);
  background-color: transparent;
  &:hover {
    background-color: getColor(bg-light);
    border-color: transparent;
  }
}

.btn_action {
  font-size: 16px;
  display: flex;
  padding: 15px 20px;
  border-left: 1px solid getColor(bg-light);
  // background-color: getColor(font-white);
  background-color: transparent;
  transition: getTransition(main);
  color: getColor(font-white);
  & > * {
    margin: auto;
  }
  &:last-child {
    border-right: 1px solid getColor(bg-light);
  }
  &:hover {
    background-color: getColor(main);
  }
}
