@import "base";

.slider {
  &__overlay {
    @extend %position-extend;
    z-index: 5;
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.3)
    );
  }
  &__minimize {
    height: 50px !important;
    .slider__add_img {
      left: auto;
    }
  }
  &__close {
    height: 0px !important;
    overflow: hidden;
  }
  &__toolbar_wrapper {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 6;
    height: 50px;
    // background-color: getColor(bg-night);
    &__minimize {
      background-color: transparent;
      border-top: 1px solid getColor(main-dark);
      .slider__toolbar {
        justify-content: flex-start;
      }
    }
  }
  &__toolbar {
    @extend %wrapper;
    @extend %flex-center;
    height: 50px;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
  }
  &__btn_create {
  }
  &__btns {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    @extend %flex-center;
    & > *:last-child {
      margin-left: 10px;
    }
  }
  &__add_img {
    @extend %flex-center;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    & > span {
      margin-right: 7px;
    }
  }
}

.slide {
  @extend %image;
  @extend %position-extend;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 3;
  &__left {
    display: block;
    animation: slide-left 0.9s ease;
  }
  &__right {
    display: block;
    animation: slide-right 0.9s ease;
  }
  &__prev_left {
    display: block;
    animation: prev-slide-left 1s ease;
    z-index: 2;
  }
  &__prev_right {
    display: block;
    animation: prev-slide-right 1s ease;
    z-index: 2;
  }
  &__info {
    position: absolute;
    bottom: 85px;
    @extend %wrapper;
    left: 50%;
    z-index: 6;
    color: getColor(font-white);
    text-shadow: getShadow(thin-dark);
    transition: getTransition(slow);
    transform: translateX(-50%);
    opacity: 0;
    &:hover {
      .slide__content {
        height: 50px;
        opacity: 1;
      }
    }
    &__active {
      z-index: 7;
      opacity: 1;
    }
  }
  &__link {
    font-size: 1.2em;
    @extend %flex-center;
    justify-content: flex-start;
    padding: 10px 0;
  }
  &__link_text {
    margin-left: 7px;
    color: getColor(main-dark);
    text-transform: uppercase;
    font-size: 0.9em;
  }
  &__link_icon {
    font-size: 1.1em;
    color: getColor(accent);
  }
  &__title {
    padding: 5px 0;
    font-family: getFont(third);
    font-size: 1.7em;
    &__big {
      font-size: 3em;
      width: 1000px;
      max-width: 100%;
      position: relative;
      padding-bottom: 12px;
      color: getColor(font-white);
      &:hover {
        color: getColor(font-white);
      }
      &:before {
        content: "";
        width: 100px;
        height: 6px;
        background-color: getColor(accent);
        border-left: 10px solid getColor(accent-main);
        position: absolute;
        bottom: -10px;
        left: 0;
        box-shadow: getShadow(thin);
        transform: skew(30deg);
      }
    }
  }
  &__content {
    height: 0px;
    transition: getTransition(slow);
    overflow: hidden;
    margin-top: 55px;
    margin-bottom: 15px;
    width: 710px;
    max-width: 100%;
    font-size: 1.1em;
    color: getColor(title-simple);
    position: relative;
    opacity: 0;
    & * {
      font-weight: normal;
    }
  }
  &__date {
    color: getColor(title-simple);
    @extend %flex-center;
    justify-content: flex-start;
  }
  &__date_right {
    // margin-top: 20px;
    justify-content: flex-end;
  }
  &__date_icon {
    margin-right: 7px;
  }
  &__btns {
    display: flex;
    padding: 10px 0;
    & > *:first-child {
      margin-right: 10px;
    }
  }
  &__overlay {
    @extend %position-extend;
    z-index: 4;
    background-image: radial-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.4)
    );
  }
}

@keyframes prev-slide-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes prev-slide-right {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.btn_arrow {
  width: 55px;
  height: 30px;
  background-color: transparent;
  border: 1px solid transparent;
  transition: getTransition(main);
  border-radius: 20px;
  display: flex;
  & > * {
    margin: auto;
    font-size: 1.1em;
    color: getColor(font-white);
  }
  &:hover {
    // background-color: getColor(bg-light);
    border-color: getColor(bg-light);
  }
  &:active {
    transform: scale(0.9);
    opacity: 0.5;
  }
}

.btn_dots {
  display: flex;
  justify-content: center;
  padding: 0px 50px;
}

.btn_dot {
  width: 12px;
  height: 12px;
  border: 1px solid getColor(main);
  background-color: getColor(secondary);
  border-radius: 50%;
  transition: getTransition(main);
  margin-left: 10px;
  box-shadow: getShadow(second-dark);
  &:first-child {
    margin-left: 0;
  }
  &__active {
    width: 33px;
    border-radius: 20px;
    border-color: getColor(bg-light);
    background-color: getColor(bg-light);
  }
}

@media (max-width: 500px) {
  .slide {
    &__title {
      &__big {
        font-size: 2em;
      }
    }
    &__content {
      font-size: 1em;
    }
  }
}
