@import "base";

.slider {
  &__overlay {
    @extend %position-extend;
    z-index: 5;
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    );
  }
  &__minimize {
    height: 50px !important;
    .slider__add_img {
      left: auto;
    }
  }
  &__close {
    height: 0px !important;
    overflow: hidden;
  }
  &__toolbar_wrapper {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 6;
    height: 50px;
    background-color: getColor(bg-night);
    // border-top: 1px solid getColor(bg-light);
    &__minimize {
      background-color: getColor(main);
      border-bottom: 1px solid getColor(main-dark);
    }
  }
  &__toolbar {
    @extend %wrapper;
    @extend %flex-center;
    height: 50px;
    position: relative;
  }
  &__btn_create {
  }
  &__btns {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    @extend %flex-center;
    & > *:last-child {
      margin-left: 10px;
    }
  }
  &__add_img {
    @extend %flex-center;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    & > span {
      margin-right: 7px;
    }
  }
}

.slide {
  @extend %image;
  @extend %position-extend;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 3;
  &__left {
    display: block;
    animation: slide-left 0.9s ease;
  }
  &__right {
    display: block;
    animation: slide-right 0.9s ease;
  }
  &__prev_left {
    display: block;
    animation: prev-slide-left 1s ease;
    z-index: 2;
  }
  &__prev_right {
    display: block;
    animation: prev-slide-right 1s ease;
    z-index: 2;
  }
  &__info {
    position: absolute;
    bottom: 85px;
    @extend %wrapper;
    left: 50%;
    z-index: 6;
    color: getColor(font-white);
    text-shadow: getShadow(thin-dark);
    transition: getTransition(slow);
    transform: translateX(-50%) translateY(20px);
    opacity: 0;
    &__active {
      transform: translateX(-50%) translateY(0px);
      opacity: 1;
    }
  }
  &__title {
    padding: 5px 0;
    &__big {
      font-size: 3em;
      line-height: 60px;
    }
  }
  &__content {
    height: 94px;
    overflow: hidden;
    margin: 20px 0;
    padding-left: 20px;
    border-left: 3px solid getColor(accent);
  }
  &__date {
    color: getColor(title-simple);
  }
}

@keyframes prev-slide-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes prev-slide-right {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.btn_arrow {
  width: 55px;
  height: 35px;
  background-color: transparent;
  border: 1px solid getColor(bg-light);
  transition: getTransition(main);
  border-radius: 20px;
  display: flex;
  & > * {
    margin: auto;
    font-size: 1.1em;
    color: getColor(font-white);
  }
  &:hover {
    background-color: getColor(bg-light);
    border-color: transparent;
  }
  &:active {
    transform: scale(0.9);
    opacity: 0.5;
  }
}

.btn_dots {
  display: flex;
  justify-content: center;
  padding: 0px 50px;
}

.btn_dot {
  width: 12px;
  height: 12px;
  border: 1px solid getColor(main);
  background-color: getColor(secondary);
  border-radius: 50%;
  transition: getTransition(main);
  margin-left: 10px;
  box-shadow: getShadow(second-dark);
  &:first-child {
    margin-left: 0;
  }
  &__active {
    width: 33px;
    border-radius: 20px;
    border-color: getColor(bg-light);
    background-color: getColor(bg-light);
  }
}
