@import "base";

.field {
  width: 100%;
  display: block;
  margin-bottom: 0.5em;
  opacity: 1;
  transition: getTransition(main);
  z-index: 3;
  background-color: getColor(secondary);
  &__close {
    opacity: 0;
    transform: scale(0);
    height: 0;
    z-index: 2;
    margin-bottom: 0em;
  }
  &__title {
    display: inline-block;
    padding: 4px 0px;
    &__important::after {
      content: "*";
      color: getColor(danger);
      margin-left: 5px;
    }
  }
  &__input {
    display: block;
    width: 100%;
    padding: 8px;
    background-color: transparent;
    border: 1px solid transparent;
    // border-radius: getRadius(main);
    border-bottom-color: getColor(main-dark);
    transition: getTransition(main);
    background-color: getColor(main);
    outline: none;
    &:focus {
      border-color: getColor(accent);
    }
    &_password {
      padding-right: 44px;
    }
    &__error {
      border-color: getColor(danger);
    }
  }
  &__wrapper_input {
    position: relative;
  }
  &__msg {
    font-size: 0.8em;
    color: getColor(danger);
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    height: 18px;
    transition: getTransition(main);
    &__error {
      opacity: 1;
      visibility: visible;
    }
  }
  &__error {
    margin-right: 4px;
  }
  &__btn_password {
    position: absolute;
    top: 50%;
    right: 7px;
    transform: translateY(-50%);
  }
}

.field_transparent {
  background-color: transparent;
}

.field_fliper {
  position: relative;
  &__btn_new {
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: 2;
    &__close {
      left: auto;
      right: 0px;
      top: -5px;
      transform: translateY(0);
    }
  }
}

.field_file {
  // width: 100%;
  flex: 1;
  margin-bottom: 0.5em;
  &__noerrror {
    margin-bottom: 0em;
  }
  &__file_wrapper {
    display: flex;
    border: 1px solid getColor(main-dark);
    box-shadow: none;
    transition: getTransition(main);
    &__error {
      border-color: getColor(danger);
      box-shadow: getShadow(danger);
    }
  }
  &__title {
    width: 50%;
    padding: 5px;
    display: flex;
    & > * {
      margin: auto;
    }
  }
  &__label {
    width: 50%;
    cursor: pointer;
    background-color: transparent;
    @extend %flex-center;
    padding: 0px 10px;
    z-index: 3;
    @extend %btn-accent;
  }
  &__upload_icon {
    margin-right: 10px;
    font-size: 20px;
  }
}

.field_picker {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  &__button {
    flex: 1;
    background-color: transparent;
    @extend %flex-center;
    justify-content: space-between;
    padding: 0px 10px;
    @extend %btn-accent;
    & > span {
      height: 22.4px;
      overflow: hidden;
    }
  }
  &__select {
    position: absolute;
    top: 41px;
    left: 0;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
    // border: 1px solid getColor(second-light);
    transform-origin: top center;
    transition: getTransition(main);
    transform: translateY(20px) scale(0.8);
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    box-shadow: getShadow(main);
    @extend %scrollbar;
    &__open {
      transform: translateY(0px) scale(1);
      visibility: visible;
      opacity: 1;
    }
  }
  &__triangle {
    font-size: 13px;
    margin-left: 15px;
    transition: getTransition(main);
    &__rotate {
      transform: rotate(-90deg);
    }
  }
  &__option {
    padding: 5px 0;
    text-align: center;
    display: block;
    width: 100%;
    background-color: getColor(secondary);
    transition: getTransition(main);
    border-top: 1px solid getColor(main);
    overflow: hidden;
    display: flex;
    & > span {
      margin: auto;
      height: 23px;
    }
    &__active {
      background-color: getColor(main);
      color: getColor(accent);
    }
    &:hover {
      background-color: getColor(main);
    }
  }
}

.field_date {
  &__label {
    position: relative;
    text-transform: uppercase;
    &::-webkit-datetime-edit-fields-wrapper {
      @extend %center-position;
    }
    &::-webkit-datetime-edit-text {
      color: getColor(bg-light);
    }
    &::-webkit-datetime-edit-month-field {
      color: getColor(font-white);
      margin-right: 5px;
    }
    &::-webkit-datetime-edit-day-field {
      color: getColor(font-white);
      margin: 0px 5px;
    }
    &::-webkit-datetime-edit-year-field {
      color: getColor(font-white);
      margin-left: 5px;
    }
    &::-webkit-inner-spin-button {
      display: none;
    }
    &::-webkit-calendar-picker-indicator {
      outline: none;
      background: transparent;
      cursor: pointer;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: -23px;
      right: 0;
      bottom: 0;
    }
  }
}

.field_number {
  &__btns {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
  &__btn_action {
    @extend %btn-accent;
    width: 80px;
    display: flex;
    & > * {
      margin: auto;
    }
  }
  &__counter {
    align-self: center;
  }
}
