@import "base";

.field {
  width: 100%;
  display: block;
  margin-bottom: 0.5em;
  opacity: 1;
  transition: getTransition(main);
  z-index: 3;
  background-color: getColor(secondary);
  &__close {
    opacity: 0;
    transform: scale(0);
    height: 0;
    z-index: 2;
    margin-bottom: 0em;
  }
  &__title {
    display: inline-block;
    padding: 4px 0px;
    &__important::after {
      content: "*";
      color: getColor(danger);
      margin-left: 5px;
    }
  }
  &__input {
    display: block;
    width: 100%;
    padding: 8px;
    background-color: transparent;
    border: 1px solid transparent;
    // border-radius: getRadius(main);
    border-bottom-color: getColor(main-dark);
    transition: getTransition(main);
    background-color: getColor(main);
    outline: none;
    &:focus {
      border-color: getColor(accent);
    }
    &_password {
      padding-right: 44px;
    }
    &__error {
      border-color: getColor(danger);
    }
  }
  &__wrapper_input {
    position: relative;
  }
  &__msg {
    font-size: 0.8em;
    color: getColor(danger);
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    height: 18px;
    transition: getTransition(main);
    &__error {
      opacity: 1;
      visibility: visible;
    }
  }
  &__error {
    margin-right: 4px;
  }
  &__btn_password {
    position: absolute;
    top: 50%;
    right: 7px;
    transform: translateY(-50%);
  }
}

.field_transparent {
  background-color: transparent;
}

.field_file {
  width: 100%;
  margin-bottom: 0.5em;
  &__file_wrapper {
    display: flex;
    border: 1px solid getColor(main-dark);
  }
  &__title {
    width: 50%;
    padding: 5px;
    display: flex;
    & > * {
      margin: auto;
    }
  }
  &__label {
    width: 50%;
    cursor: pointer;
    background-color: transparent;
    background-image: getGradient(main);
    @extend %flex-center;
    transition: getTransition(main);
    padding: 0px 10px;
    border-radius: getRadius(main);
    box-shadow: getShadow(main);
    z-index: 3;
    color: getColor(font-white);
    border: 1px solid getColor(main-white);
    &:hover {
      border-color: white;
      box-shadow: getShadow(second);
    }
    &:active {
      box-shadow: none;
      transform: scale(0.95);
      opacity: 0.5;
    }
  }
  &__upload_icon {
    margin-right: 10px;
    font-size: 20px;
  }
}

.field_picker {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  &__button {
    flex: 1;
    background-color: transparent;
    background-image: getGradient(main);
    @extend %flex-center;
    justify-content: space-between;
    transition: getTransition(main);
    padding: 0px 10px;
    border-radius: getRadius(main);
    box-shadow: getShadow(main);
    z-index: 3;
    color: getColor(font-white);
    border: 1px solid getColor(main-white);
    & > span {
      height: 22.4px;
      overflow: hidden;
    }
    &:hover {
      border-color: white;
      box-shadow: getShadow(second);
    }
    &:active {
      box-shadow: none;
      transform: scale(0.95);
      opacity: 0.5;
    }
  }
  &__select {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
    // border: 1px solid getColor(second-light);
    transform-origin: top center;
    transition: getTransition(main);
    transform: translateY(-30px) scale(0.8);
    visibility: hidden;
    opacity: 0;
    box-shadow: getShadow(main);
    &__open {
      transform: translateY(0px) scale(1);
      visibility: visible;
      opacity: 1;
    }
  }
  &__triangle {
    font-size: 13px;
    margin-left: 15px;
    transition: getTransition(main);
    &__rotate {
      transform: rotate(-90deg);
    }
  }
  &__option {
    padding: 5px 0;
    text-align: center;
    display: block;
    width: 100%;
    background-color: getColor(secondary);
    transition: getTransition(main);
    border-top: 1px solid getColor(main);
    overflow: hidden;
    display: flex;
    & > span {
      margin: auto;
      height: 23px;
    }
    &__active {
      background-color: getColor(main);
      color: getColor(accent);
    }
    &:hover {
      background-color: getColor(main);
    }
  }
}
