@import "base";

.form {
  display: flex;
  &__extend {
    box-shadow: getShadow(main);
    .form__content {
      box-shadow: none;
      &:first-child {
        border-right: 1px solid getColor(main-dark);
      }
    }
  }
  &__content {
    width: 50%;
    background-color: getColor(secondary);
    box-shadow: getShadow(main);
  }
  &__container_fields {
    // border-bottom: 1px solid getColor(main-dark);
    position: relative;
  }
  &__sidebar {
    width: 50%;
    background-color: getColor(main);
    // @extend %background-accent;
  }
  &__title {
    height: 70px;
    @extend %flex-center;
    border-bottom: 1px solid getColor(main-dark);
    background-color: getColor(main);
    position: relative;
  }
  &__title_text {
    font-size: 1.2em;
    color: getColor(font-light);
  }
  &__title_simple {
    background-color: getColor(main);
    border-top: 1px solid getColor(main-dark);
    border-bottom: 1px solid getColor(main-dark);
    text-align: center;
    font-size: 1em;
    color: getColor(font-light);
    padding: 10px 0;
  }
  &__btns {
    padding: 25px;
    padding-top: 0;
    display: flex;
    & > * {
      margin-left: 10px;
    }
    & > *:first-child {
      margin-left: 0px;
    }
  }
  &__fields {
    padding: 25px;
    padding-bottom: 10px;
  }
  &__container_stack {
    padding: 25px;
  }
  &__stack {
    height: 70vh;
    overflow-y: auto;
    position: relative;
    margin: 25px;
    margin-top: 0;
    border: 1px solid getColor(main-dark);
    background-color: getColor(main);
    box-shadow: inset getShadow(main-equal);
    @extend %scrollbar;
  }
  &__stack_short {
    height: 20vh;
  }
  &__btn_back {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }
  &__btn_close {
    left: auto;
    right: 20px;
  }
  &__counter {
    padding: 5px 25px;
    font-size: 0.8em;
    border-bottom: 1px solid getColor(main-dark);
  }
}

.form_popup {
  @extend %popup-fade-out;
  width: 900px;
  max-width: 100%;
  box-shadow: none;
  &__active {
    @extend %popup-fade-in;
  }
}

.droparea {
  display: flex;
  max-height: 450px;
  outline: 7px dashed getColor(main-dark);
  outline-offset: -20px;
  position: relative;
  &__preview {
    @extend %image;
    position: relative;
    z-index: 5;
  }
  &__wrapper_overlay {
    position: relative;
  }
  &__overlay {
    @extend %position-extend;
    opacity: 0;
    z-index: 6;
    background-color: getColor(main);
    transition: getTransition(main);
    outline: 7px dashed getColor(main-dark);
    outline-offset: -20px;
    display: flex;
    &__active {
      opacity: 1;
    }
  }
  &__overlay_icon {
    margin: auto;
    font-size: 5em;
    color: getColor(main-dark);
    pointer-events: none;
  }
  &__plug {
    margin: auto;
    display: inline-block;
    width: 70%;
    height: 70%;
    position: relative;
  }
  &__image {
    position: absolute;
    @extend %image;
    object-fit: contain;
    padding-bottom: 40px;
  }
  &__container_text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    @extend %flex-center;
  }
  &__icon {
    width: 30px;
    height: 30px;
    display: flex;
    margin-right: 7px;
    & > * {
      margin: auto;
      font-size: 25px;
      color: getColor(bg);
    }
  }
  &__text {
  }
}

.form_filter_container {
  background-color: getColor(secondary);
  border-bottom: 1px solid getColor(main-dark);
}

.form_filter {
  display: flex;
  position: relative;
  z-index: 3;
  padding: 20px;
  padding-bottom: 5px;
  &__search {
    flex: 1;
    position: relative;
    display: flex;
    align-items: stretch;
    margin-right: 10px;
  }
  &__footer {
    padding: 20px;
    padding-top: 5px;
  }
  &__results {
    display: flex;
    align-items: center;
    font-size: 0.9em;
  }
  &__results_counter {
    margin-left: 7px;
    font-weight: bold;
  }
  &__search_string {
    font-style: italic;
    font-weight: bold;
  }
  &__picker {
    width: 500px;
  }
  &__search_input {
    display: block;
    width: 100%;
    padding: 8px;
    border: 1px solid getColor(main-dark);
    transition: getTransition(main);
    background-color: getColor(main);
    outline: none;
    padding-right: 53px;
    padding-left: 53px;
    &:focus {
      border-color: getColor(accent);
    }
    &__close {
      padding-left: 8px;
    }
  }
  &__search_btn {
    position: absolute;
    right: 0.5px;
    top: 1px;
    bottom: 1px;
    display: flex;
    width: 45px;
    // @extend %btn-accent;
    // box-shadow:
    background-color: getColor(secondary);
    border-left: 1px solid getColor(main-dark);
    overflow: hidden;
    opacity: 1;
    transition: getTransition(main);
    &__reset {
      left: 1px;
      right: auto;
      border-left: none;
      border-right: 1px solid getColor(main-dark);
    }
    &__close {
      width: 0;
      opacity: 0;
    }
    &:active {
      opacity: 0.5;
    }
    & > * {
      margin: auto;
      font-size: 17px;
    }
  }
}
