@import "base";

.form {
  display: flex;
  &__extend {
    box-shadow: getShadow(main);
    .form__content {
      box-shadow: none;
      &:first-child {
        border-right: 1px solid getColor(main-dark);
      }
    }
  }
  &__content {
    width: 50%;
    background-color: getColor(secondary);
    box-shadow: getShadow(main);
  }
  &__container_fields {
    border-bottom: 1px solid getColor(main-dark);
    position: relative;
  }
  &__sidebar {
    width: 50%;
    // @extend %background-accent;
  }
  &__title {
    height: 50px;
    @extend %flex-center;
    border-bottom: 1px solid getColor(main-dark);
    background-color: getColor(main);
    position: relative;
  }
  &__title_text {
    font-size: 1.2em;
    color: getColor(font-light);
  }
  &__btns {
    padding: 25px;
    padding-top: 0;
    display: flex;
    & > * {
      margin-left: 10px;
    }
    & > *:first-child {
      margin-left: 0px;
    }
  }
  &__fields {
    padding: 25px;
    padding-bottom: 10px;
  }
  &__container_stack {
    padding: 25px;
  }
  &__stack {
    height: 70vh;
    overflow-y: auto;
    position: relative;
    border: 1px solid getColor(main-dark);
    background-color: getColor(main);
    box-shadow: inset getShadow(main-equal);
    @extend %scrollbar;
  }
  &__btn_back {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }
  &__counter {
    padding: 5px 25px;
    font-size: 0.8em;
    border-bottom: 1px solid getColor(main-dark);
  }
}

.form_popup {
  &__active {
  }
}
