@import "base";

.images {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 20px;
  position: relative;
  &__load {
    display: block;
    height: auto;
  }
}

.image {
  display: block;
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
  cursor: pointer;
  &:hover {
    .image__overlay {
      opacity: 1;
      transform: translateX(0%);
    }
    .image__preview {
      transform: scale(1.2);
    }
    .image__btn_overlay {
      opacity: 1;
      right: 20px;
      visibility: visible;
      &:active {
        opacity: 0.5;
      }
    }
  }
  &__preview {
    @extend %image;
    @extend %position-extend;
    transition: getTransition(slow);
    transform: scale(1);
  }
  &__overlay {
    @extend %position-extend;
    z-index: 2;
    background-color: getColor(bg);
    opacity: 0;
    transition: getTransition(main);
    transform: translateX(-50%);
  }
  &__icon {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3;
    display: flex;
    color: getColor(font-white);
    & > * {
      margin: auto;
      font-size: 20px;
      filter: drop-shadow(getShadow(main-dark));
    }
  }
  &__date {
    @extend %position-extend;
    top: auto;
    text-align: center;
    background-color: getColor(bg);
    z-index: 3;
    font-size: 0.8em;
    padding: 15px 0;
    color: getColor(font-white);
    transition: getTransition(second);
  }
  &__btn_overlay {
    position: absolute;
    right: 0px;
    top: 20px;
    z-index: 2;
    left: auto;
    opacity: 0;
    visibility: hidden;
  }
}
