@import "base";
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

// @import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

// @import url("https://fonts.googleapis.com/css2?family=Jura:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::selection {
    background-color: getColor(accent-main);
  }
}

body {
  font-family: "Nunito", sans-serif;
  background-color: getColor(main);
  font-size: 1.02em;
  color: getColor(font);
}

button,
input {
  border: none;
  font-size: inherit;
  font-family: inherit;
  color: getColor(font);
  outline: none;
}

button {
  cursor: pointer;
}

ol,
ul {
  padding: 10px 0;
  padding-left: 40px;
}

a {
  color: getColor(accent);
  text-decoration: none;
  transition: getTransition(main);
  &:hover {
    color: getColor(accent-second);
  }
}

blockquote {
  border-left: 5px solid getColor(main-dark);
  padding: 20px;
  padding-right: 0px;
  padding-left: 30px;
  margin: 15px;
  margin-right: 0px;
  min-height: 50px;
  position: relative;
  font-style: italic;
  &::before {
    content: "“";
    left: 5px;
    top: -30px;
    font-family: getFont(second);
    font-size: 5em;
    color: getColor(main-dark);
    position: absolute;
    z-index: -1;
  }
}

.background {
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transition: getTransition(main);
  z-index: 10;
  background-color: getColor(bg);
  &--active {
    opacity: 1;
    visibility: visible;
  }
  &--over {
    z-index: 15;
  }
}

.plug-text {
  padding: 10px 0;
  text-align: center;
  font-size: 1.1em;
  color: getColor(font-light);
}

.btn-handler {
  display: none;
}

.form-wrapper {
  position: relative;
}

.popup-title {
  text-align: center;
  border-bottom: 1px solid getColor(main);
  color: getColor(title-simple);
  font-family: getFont(secondary);
  font-weight: normal;
  padding: getPadding(secondary);
  background-color: getColor(second-light-accent);
}

.avatar {
  @extend %image;
  display: flex;
  justify-content: center;
  align-items: center;
  color: getColor(font-white);
  border-radius: 50%;
  text-shadow: getShadow(thin);
  position: relative;
  font-size: 0.7em;
  font-family: getFont(third);
  &__middle {
    font-size: 4em;
  }
  &__large {
    font-size: 6em;
  }
  &__firstname {
  }
  &__lastname {
  }
}

.wrapper {
  @extend %wrapper;
  padding: 50px 20px;
}

.wrapper-text {
  @extend %wrapper-text;
  position: relative;
}

.wrapper-clear {
  @extend %wrapper;
  padding: 0px;
}

.wrapper-side {
  @extend %wrapper;
  padding: 0px 20px;
}

.container {
}

.ck.ck-editor__main > .ck-editor__editable {
  min-height: 40vh;
  @extend %scrollbar;
  background-color: getColor(main);
}

.carousel {
  position: relative;
  height: 100vh;
  overflow: hidden;
  transition: getTransition(main);
}

.title-second {
  font-size: 2em;
  position: relative;
  font-family: getFont(third);
  &::before {
    content: "";
    width: 60px;
    height: 5px;
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: 1;
    background-color: getColor(main-dark);
  }
}

figure {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  border: none;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 750px;
  height: 100%;
  margin: 0 auto;
}

.icon-location {
  font-size: 2.3em;
  color: red;
  position: relative;
}
.layout-black {
  @extend %position-extend;
  pointer-events: none;
  z-index: 3;
  // backdrop-filter: grayscale(100%);
}

table,
td,
th,
tr {
  border-collapse: collapse;
  border: 1px solid getColor(main-dark);
}

figure.table {
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  max-width: auto;
  height: auto;
  padding-bottom: 0px;
}

td {
  padding: 10px;
}

thead th {
  padding: 10px;
  background-color: getColor(bg-light);
  font-family: getFont(third);
}
