@import "base";

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 12;
  transition: getTransition(slow);
  &__reduce {
    transform: translateY(-57px);
    .nav {
      background-color: getColor(secondary);
      box-shadow: getShadow(secondary);
      backdrop-filter: none;
      .btn_menu {
        border-color: getColor(main-dark);
        &__lines > span {
          border-color: getColor(font);
        }
      }
      .nav__border {
        height: 0;
      }
      .nav__menu {
        height: auto;
        padding: 7px 20px;
      }
      .nav__border_second {
        & > * {
          height: 0;
        }
        &__content {
          & > * {
            height: 0;
          }
        }
      }
      .link {
        &__text {
          color: getColor(font);
          text-shadow: none;
        }
        &__icon {
          color: getColor(font);
        }
      }
      .nav__logo {
        visibility: hidden;
        opacity: 0;
        margin-top: -50px;
      }
      .nav__links {
        margin-left: 20px;
      }
      .user {
        &__name {
          color: getColor(font);
        }
        &__ava {
          border: 1px solid getColor(main-dark);
        }
      }
      .btn_login {
        border-color: getColor(main-dark);
        &__text {
          color: getColor(font);
        }
      }
    }
  }
}

@keyframes fade-scale {
  from {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}

.nav {
  background-color: transparent;
  transition: getTransition(slow);
  &__blur {
    backdrop-filter: blur(10px);
    box-shadow: getShadow(secondary);
  }
  &__btn_blur {
    width: 36.4px;
    height: 36.4px;
    margin-right: 10px;
  }
  &__btn_search {
    width: 36.4px;
    height: 36.4px;
    display: none;
  }
  &__border {
    height: 7px;
    background-image: getGradient(third);
    transition: getTransition(slow);
  }
  &__actions_wrapper {
    position: relative;
    z-index: 2;
    transition: getTransition(main);
    height: 57px;
    display: flex;
    align-items: center;
  }
  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @extend %wrapper;
    position: relative;
    transition: getTransition(main);
  }
  &__border_second {
    @extend %flex-center;
    & > * {
      flex: 1;
      height: 1px;
      background-color: getColor(bg-light);
    }
    &__content {
      height: auto;
      flex: none;
      width: 1160px;
      max-width: calc(100% - 40px);
      background-color: transparent;
      @extend %flex-center;
      & > * {
        flex: 1;
        height: 1px;
        background-color: getColor(bg-light);
        &:first-child {
          width: 147px;
          flex: none;
          background-color: transparent;
        }
      }
    }
  }
  &__wrapper_menu {
    border-bottom: 1px solid getColor(bg-light);
  }
  &__menu {
    @extend %wrapper;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 90px;
  }
  &__title {
    display: block;
    margin-right: auto;
    transform: translateY(0%);
    transition: getTransition(main);
    font-family: getFont(third);
    text-transform: capitalize;
    &:hover {
      & > * {
        color: getColor(font-white);
      }
    }
    & > * {
      @extend %link-reset;
      font-size: 1.4em;
      padding-left: 175px;
      font-weight: bold;
      color: getColor(font-white);
    }
  }
  &__logo_mini {
    width: 100px;
    height: 43px;
    display: none;
    animation: fade-scale getTransition(slow);
    &__active {
      display: block;
    }
  }
  &__logo_mini_img {
    @extend %image;
    object-fit: contain;
    object-position: left;
  }
  &__logo {
    width: 147px;
    height: 147px;
    position: absolute;
    left: 20px;
    top: -10px;
    padding: 7px;
    border-top: none;
    z-index: 16;
    opacity: 1;
    transition: getTransition(main);
    border-left: 1px solid getColor(bg-light);
    border-right: 1px solid getColor(bg-light);
  }
  &__logo_img {
    @extend %image;
    object-fit: contain;
    filter: drop-shadow(0px 0px 4px getColor(bg-night));
  }
  &__links {
    display: flex;
    margin-left: 162px;
    transition: getTransition(main);
  }
}

.btn_menu {
  @extend %flex-center;
  width: 45px;
  height: 45px;
  border: 1px solid getColor(bg-light);
  background-color: transparent;
  transition: getTransition(main);
  display: none;
  &__lines {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & > span {
      width: 25px;
      height: 4px;
      background-color: getColor(bg-light);
      border: 1px solid getColor(bg-light);
      margin-top: 5px;
      transition: getTransition(main);
      &:nth-child(1) {
        margin-top: 0;
      }
    }
  }
  &__cross {
    border-radius: 50%;
  }
  &__cross &__lines {
    & > span {
      width: 25px;
      &:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
      }
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.respns_menu {
  position: relative;
  z-index: -1;
  background-color: getColor(secondary);
  transition: getTransition(slow);
  box-shadow: getShadow(secondary);
  display: none;
  animation: fade getTransition(main);
  max-height: 70vh;
  overflow-y: auto;
  @extend %scrollbar;
  &__open {
    display: none;
  }
  &__container {
    width: 1200px;
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 15px;
  }
}

.link {
  @extend %link-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 10px;
  margin: 0px 3px;
  text-shadow: getShadow(thin);
  transition: getTransition(main);
  text-transform: uppercase;
  font-size: 13px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: getColor(accent-main);
    bottom: 0px;
    width: 0%;
    left: 0;
    transition: getTransition(main);
    transform: skew(45deg);
  }
  &:hover::after {
    width: 100%;
  }
  &__active {
    & > * {
      color: getColor(accent-main) !important;
    }
    &:hover::after {
      width: 0%;
    }
  }
  &__text {
    color: getColor(font-white);
  }
  &__text_icon {
    margin-right: 5px;
    font-size: 21px;
    color: getColor(main-dark);
  }
  &__icon {
    font-size: 9px;
    margin-left: 5px;
    color: getColor(font-white);
    transition: getTransition(main);
  }
  &__drop {
    background-color: transparent;
  }
  &__wrapper_dropdown {
    position: relative;
    &:hover {
      .link__dropdown {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
      }
      .link__drop {
        &::after {
          width: 100%;
        }
      }
      .link__icon {
        transform: rotate(90deg);
      }
    }
  }
  &__dropdown {
    position: absolute;
    top: 53.6px;
    left: 3px;
    width: 230px;
    box-shadow: getShadow(secondary);
    opacity: 0;
    transform-origin: top center;
    visibility: hidden;
    transform: scale(0.8);
    transition: getTransition(main);
    padding: 7px 0;
    background-color: getColor(secondary);
    .link {
      margin: 0px !important;
      &::after {
        left: -7px;
      }
    }
    .link__active {
      background-color: transparent;
      .link__text {
        color: getColor(accent-main);
      }
      &:hover {
        background-color: transparent;
        .link__text {
          color: getColor(accent-main);
        }
      }
    }
  }
  &__dropdown_right {
    left: auto;
    right: 0;
  }
  &__dropdown_menu {
    text-shadow: none;
    padding: 10px 15px;
    justify-content: flex-start;
    background-color: getColor(secondary);
    width: 100%;
    .link__text {
      color: getColor(font);
    }
    &:hover {
      background-color: getColor(main);
    }
  }
}

.search {
  width: 350px;
  max-width: 100%;
  transform: translateY(0%);
  transition: getTransition(main);
  position: relative;
  &__input {
    border: 1px solid getColor(bg-light);
    background-color: transparent;
    padding: 6px 8px;
    width: 100%;
    transition: getTransition(main);
    color: getColor(font-white);
    &::placeholder {
      color: getColor(bg-light);
      font-weight: normal;
    }
    &:focus {
      border-color: getColor(secondary);
      background-color: getColor(bg-light);
    }
  }
  &__button {
    color: getColor(font-white);
    font-size: 17px;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

.user {
  margin-left: auto;
  &__btn {
    @extend %flex-center;
    padding: 4.8px 10px;
    background-color: transparent;
    transition: getTransition(main);
  }
  &__name {
    @extend %flex-center;
    margin-right: 7px;
    color: getColor(font-white);
    font-size: 13px;
  }
  &__ava {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
    padding: 4px;
    border: 1px solid getColor(bg-light);
  }
}

.btn_login {
  margin-left: auto;
  height: 45px;
  padding: 0px 14px;
  border: 1px solid getColor(bg-light);
  color: getColor(font-white);
  background-color: transparent;
  transition: getTransition(main);
  transform: scale(1);
  @extend %flex-center;
  &:hover {
    background-color: getColor(bg-light);
    border-color: transparent;
  }
  &:active {
    transform: scale(0.9);
  }
  &__active {
    background-color: getColor(bg-light);
  }
}

@media (max-width: 1170px) {
  .nav {
    &__links {
      display: none;
    }
  }
  .user {
    margin-right: 5px;
  }
  .btn_menu {
    display: flex;
  }
  .respns_menu {
    &__open {
      display: block;
    }
  }
  .btn_login {
    margin-right: 10px;
  }
}

@media (max-width: 975px) {
  .nav {
    &__btn_search {
      display: flex;
    }
  }
  .respns_menu {
    &__container {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 10px;
    }
  }
  .search {
    display: none;
  }
}

@media (max-width: 720px) {
  .respns_menu {
    &__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 490px) {
  .menu {
    &__reduce {
      transform: translateY(0px);
    }
  }
  .nav {
    &__blur {
      backdrop-filter: none;
      box-shadow: getShadow(secondary);
    }
    &__actions_wrapper {
      display: none;
    }
    &__border_second {
      display: none;
    }
    &__logo_mini {
      display: block;
    }
  }
  .respns_menu {
    &__container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
