@import "base";

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 12;
  background-color: transparent;
  transition: getTransition(slow);
  &__blur {
    backdrop-filter: blur(10px);
    box-shadow: getShadow(secondary);
  }
  &__btn_blur {
    width: 36.4px;
    height: 36.4px;
    margin-right: 10px;
  }
  &__border {
    height: 7px;
    background-image: getGradient(third);
    transition: getTransition(slow);
  }
  &__reduce {
    background-color: getColor(secondary);
    transform: translateY(-57px);
    box-shadow: getShadow(main);
    backdrop-filter: none;
    .nav__border {
      height: 0;
    }
    .nav__actions_wrapper {
    }
    .nav__menu {
      height: auto;
      padding: 7px 20px;
    }
    .nav__border_second {
      & > * {
        height: 0;
      }
      &__content {
        & > * {
          height: 0;
        }
      }
    }
    .link {
      &__text {
        color: getColor(font);
        text-shadow: none;
      }
      &__icon {
        color: getColor(font);
      }
    }
    .nav__logo {
      visibility: hidden;
      opacity: 0;
      margin-top: -50px;
    }
    .nav__links {
      margin-left: 0px;
    }
    .user {
      &__name {
        color: getColor(font);
      }
      &__ava {
        border: 1px solid getColor(main-dark);
      }
    }
    .btn_login {
      &__text {
        color: getColor(font);
      }
    }
  }
  &__actions_wrapper {
    position: relative;
    z-index: 2;
    // backdrop-filter: blur(7px);
    // border-bottom: 1px solid getColor(bg-light);
    transition: getTransition(main);
    height: 57px;
    display: flex;
    align-items: center;
  }
  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @extend %wrapper;
    position: relative;
    transition: getTransition(main);
  }
  &__border_second {
    @extend %flex-center;
    & > * {
      flex: 1;
      height: 1px;
      background-color: getColor(bg-light);
    }
    &__content {
      height: auto;
      flex: none;
      width: 1160px;
      max-width: calc(100% - 40px);
      background-color: transparent;
      @extend %flex-center;
      & > * {
        flex: 1;
        height: 1px;
        background-color: getColor(bg-light);
        &:first-child {
          width: 147px;
          flex: none;
          background-color: transparent;
        }
      }
    }
  }
  &__wrapper_menu {
    border-bottom: 1px solid getColor(bg-light);
    // backdrop-filter: blur(7px);
  }
  &__menu {
    @extend %wrapper;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 90px;
  }
  &__title {
    display: block;
    margin-right: auto;
    transform: translateY(0%);
    transition: getTransition(main);
    font-family: getFont(third);
    text-transform: capitalize;
    &:hover {
      & > * {
        color: getColor(font-white);
      }
    }
    & > * {
      @extend %link-reset;
      font-size: 1.4em;
      padding-left: 175px;
      font-weight: bold;
      color: getColor(font-white);
    }
  }
  &__logo {
    width: 147px;
    height: 147px;
    // background-color: getColor(accent);
    position: absolute;
    left: 20px;
    top: -10px;
    padding: 7px;
    border-top: none;
    // box-shadow: getShadow(main-dark);
    z-index: 16;
    opacity: 1;
    transition: getTransition(main);
    border-left: 1px solid getColor(bg-light);
    border-right: 1px solid getColor(bg-light);
  }
  &__logo_img {
    @extend %image;
    object-fit: contain;
    filter: drop-shadow(0px 0px 4px getColor(bg-night));
  }
  &__links {
    display: flex;
    margin-left: 162px;
    transition: getTransition(main);
  }
}

.link {
  @extend %link-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 10px;
  margin: 0px 3px;
  text-shadow: getShadow(thin);
  transition: getTransition(main);
  text-transform: uppercase;
  // font-weight: bold;
  font-size: 13px;
  // border-bottom: 1px solid transparent;
  // border-radius: 30px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: getColor(accent-main);
    bottom: 0px;
    width: 0%;
    transition: getTransition(main);
    transform: skew(45deg);
  }
  &:hover {
  }
  &:hover::after {
    width: 100%;
  }
  &__active {
    & > * {
      color: getColor(accent-main) !important;
    }
    &:hover::after {
      width: 0%;
    }
  }
  &__text {
    color: getColor(font-white);
  }
  &__text_icon {
    margin-right: 5px;
    font-size: 21px;
    color: getColor(main-dark);
  }
  &__icon {
    font-size: 9px;
    margin-left: 5px;
    color: getColor(font-white);
    transition: getTransition(main);
  }
  &__drop {
    background-color: transparent;
  }
  &__wrapper_dropdown {
    position: relative;
    &:hover {
      .link__dropdown {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
      }
      .link__drop {
        // border: 1px solid black;
        // background-color: getColor(bg-light);
        &::after {
          // content: "";
          // position: absolute;
          // height: 3px;
          // background-color: getColor(accent-main);
          // bottom: 0px;
          width: 100%;
          // transition: getTransition(main);
          // transform: skew(45deg);
        }
      }
      .link__icon {
        transform: rotate(90deg);
      }
    }
  }
  &__dropdown {
    position: absolute;
    top: 53.6px;
    left: 3px;
    width: 230px;
    box-shadow: getShadow(main);
    opacity: 0;
    transform-origin: top center;
    visibility: hidden;
    transform: scale(0.8);
    transition: getTransition(main);
    padding: 7px 0;
    background-color: getColor(secondary);
    .link {
      margin: 0px !important;
      &::after {
        left: -7px;
      }
    }
    .link__active {
      background-color: transparent;
      .link__text {
        color: getColor(accent-main);
      }
      &:hover {
        background-color: transparent;
        .link__text {
          color: getColor(accent-main);
        }
      }
    }
  }
  &__dropdown_right {
    left: auto;
    right: 0;
  }
  &__dropdown_menu {
    text-shadow: none;
    padding: 10px 15px;
    justify-content: flex-start;
    background-color: getColor(secondary);
    width: 100%;
    .link__text {
      color: getColor(font);
    }
    &:hover {
      background-color: getColor(main);
    }
  }
}

.search {
  width: 350px;
  max-width: 100%;
  transform: translateY(0%);
  transition: getTransition(main);
  position: relative;
  &__input {
    // border-right: 1px solid getColor(bg-light);
    border: 1px solid getColor(bg-light);
    // border-left: 1px solid getColor(bg-light);
    // background-color: getColor(main);
    background-color: transparent;
    padding: 6px 8px;
    width: 100%;
    transition: getTransition(main);
    color: getColor(font-white);
    &::placeholder {
      color: getColor(bg-light);
      font-weight: normal;
    }
    &:focus {
      border-color: getColor(secondary);
      background-color: getColor(bg-light);
    }
  }
  &__button {
    color: getColor(font-white);
    font-size: 17px;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

.user {
  margin-left: auto;
  &__btn {
    @extend %flex-center;
    padding: 4.8px 10px;
    background-color: transparent;
    transition: getTransition(main);
  }
  &__name {
    @extend %flex-center;
    margin-right: 7px;
    color: getColor(font-white);
    font-size: 13px;
  }
  &__firstname {
  }
  &__lastname {
  }
  &__ava {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
    padding: 4px;
    border: 1px solid getColor(bg-light);
  }
  &__dropdown {
  }
}

.btn_login {
  margin-left: auto;
  padding: 10px 14px;
  border: 1px solid getColor(bg-light);
  color: getColor(font-white);
  background-color: transparent;
  transition: getTransition(main);
  transform: scale(1);
  @extend %flex-center;
  &__text {
  }
  &:hover {
    background-color: getColor(bg-light);
    border-color: transparent;
  }
  &:active {
    transform: scale(0.9);
  }
  &__active {
    background-color: getColor(bg-light);
  }
}
