@import "base";

.content_wrapper {
  display: grid;
  // height: 160vw;
  // max-height: 1945px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  // grid-auto-rows: 1fr;
  align-items: flex-start;
  grid-row-gap: 50px;
  grid-column-gap: 20px;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: getColor(secondary);
  // border-bottom: 3px solid getColor(accent);
  // margin-bottom: 15px;
  // padding: 10px;
  // box-shadow: getShadow(card);
  &__row {
    flex-direction: row;
  }
  &__preview {
    display: flex;
    // width: 120px;
    height: 250px;
    background-color: getColor(main);
  }
  &__image {
    @extend %image;
  }
  &__icon {
    margin: auto;
    display: flex;
    & > * {
      margin: auto;
      font-size: 3em;
      color: getColor(main-dark);
    }
  }
  &__main {
    // flex: 1;
    // margin-left: 10px;
    padding: 15px;
    padding-top: 0;
    border-top: 3px solid getColor(accent);
  }
  &__date {
    font-size: 0.9em;
    color: getColor(font-white);
    background-color: getColor(accent);
    display: inline-block;
    padding: 10px;
    transform: translateY(-15px);
  }
  &__title {
    @extend %link-reset;
    display: block;
    font-weight: bolder;
    font-size: 1.5em;
    &:hover {
      text-decoration: underline;
      text-decoration-color: getColor(accent);
      text-decoration-style: dashed;
    }
  }
  &__categoty {
    @extend %link-reset;
    display: inline-block;
    color: getColor(accent);
    margin-bottom: 10px;
    padding: 5px 0px;
  }
  &__links {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    border-top: 1px solid getColor(main-dark);
  }
  &__link {
    @extend %link-reset;
    color: getColor(accent);
    padding: 5px 10px;
    border: 1px solid getColor(main-dark);
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 0.9em;
    border-radius: getRadius(main);
    &:last-child {
      margin-right: 0px;
    }
  }
}
