@import "base";

.page_wrapper {
  display: grid;
  width: 100%;
  position: relative;
  align-items: flex-start;
  grid-gap: 20px;
  &__grid_4 {
    grid-template-columns: repeat(4, 1fr);
  }
  &__grid_3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.page_wrapper_flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  &__sidebar {
    margin-right: 20px;
  }
  &__content {
    width: 710px;
    max-width: 100%;
    margin: 0 auto;
  }
}

.page {
  &__carousel {
    &__minimize {
      margin-top: 130px;
    }
  }
  &__wrapper_module {
    position: relative;
  }
  &__bg {
    position: absolute;
    pointer-events: none;
  }
  &__bg_1 {
    top: 15vh;
    left: 0;
    width: 18%;
  }
  &__bg_2 {
    top: 0;
    right: 0;
    width: 15%;
  }
  &__bg_3 {
    top: 0;
    left: 0;
    width: 250px;
  }
  &__bg_4 {
    top: 10vh;
    right: 0;
    width: 13%;
  }
  &__bg_5 {
    top: 0;
    right: 0;
    width: 25%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section {
  margin-bottom: 20px;
  animation: fade-in getTransition(slow);
  &__close {
    display: none;
    margin-bottom: 0px;
  }
  &__active {
    display: block;
    margin-bottom: 0px;
  }
  &__content {
    position: relative;
  }
  &__btn_edit {
    position: absolute;
    z-index: 2;
    top: 0px;
    right: 0px;
  }
}

.navbar {
  background-color: getColor(secondary);
  border-bottom: 1px solid getColor(main-dark);
  box-shadow: getShadow(secondary);
  &__menu {
    @extend %flex-center;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    justify-content: space-between;
  }
  &__create {
    @extend %flex-center;
    padding: 6px 0;
    margin-left: auto;
    & > p {
      margin-right: 7px;
    }
  }
}

.side_navbar {
  border-top: 4px solid getColor(accent-main);
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid getColor(main-dark);
  padding: 20px 25px;
  min-width: 300px;
  max-width: 100%;
  background-color: getColor(secondary);
  position: relative;
  z-index: 2;
  box-shadow: getShadow(secondary);
}
.link_tile {
  background-color: getColor(secondary);
  @extend %flex-center;
  border-right: 1px solid getColor(main-dark);
  border-bottom: 1px solid getColor(main-dark);
  flex-direction: column;
  padding: 15px 10px;
  transition: getTransition(main);
  &__icon {
    width: 50px;
    height: 50px;
    border: 1px solid getColor(main-dark);
    border-radius: 50%;
    display: flex;
    margin-bottom: 10px;
    transition: getTransition(main);
    & > * {
      font-size: 1.5em;
      margin: auto;
      color: getColor(font);
    }
  }
  &__title {
    font-size: 1.2em;
    font-family: getFont(third);
    transition: getTransition(main);
    color: getColor(font);
  }
  &:hover {
    background-color: getColor(main);
    .link_tile__icon {
      border-color: getColor(accent-main);
    }
    .link_tile__title {
      color: getColor(accent);
    }
  }
}
.side_link {
  padding: 11px 15px;
  text-align: left;
  font-size: 1.2em;
  background-color: transparent;
  border-bottom: 1px solid getColor(bg-light);
  position: relative;
  transition: getTransition(main);
  font-family: getFont(third);
  &:last-child {
    border-bottom: none;
  }
  &__active {
    color: getColor(accent);
    &::before {
      content: "";
      @extend %position-extend;
      width: 5px;
      position: absolute;
      left: -25px;
      right: auto;
      background-color: getColor(accent);
      z-index: 2;
    }
  }
  &:hover {
    color: getColor(accent);
  }
}

.content {
  @extend %flex-center;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid getColor(main-dark);
  background-color: getColor(secondary);
  padding: 20px;
  gap: 20px;
  &__clear {
    padding: 0;
  }
  &__preview {
    width: 250px;
    height: 270px;
    display: flex;
    background-color: getColor(main);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &__extended {
      width: 100%;
    }
    &:hover {
      .content__img {
        transform: scale(1.1);
      }
      .content__overlay {
        opacity: 1;
        transform: translateX(0);
      }
      .content__btn {
        right: 10px;
        opacity: 1;
        visibility: visible;
        &:active {
          opacity: 0.5;
        }
      }
    }
    &__item_info {
      padding-bottom: 144%;
      position: relative;
    }
  }
  &__overlay {
    @extend %position-extend;
    z-index: 2;
    background-color: getColor(bg);
    opacity: 0;
    transition: getTransition(main);
    transform: translateX(-50%);
    display: flex;
  }
  &__overlay_text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: getColor(font-white);
    text-align: center;
    border-top: 1px solid getColor(bg-light);
    font-size: 0.8em;
    padding: 15px 0;
    transition: getTransition(second);
  }
  &__img {
    @extend %position-extend;
    @extend %image;
    transform: scale(1);
    transition: getTransition(slow);
  }
  &__icon {
    @extend %center-position;
    font-size: 3em;
    color: getColor(main-dark);
  }
  &__body {
    flex: 1;
    // padding-left: 20px;
  }
  &__link {
    font-size: 0.9em;
    &__big {
      font-size: 1.2em;
    }
  }
  &__link_title {
    margin-right: 7px;
  }
  &__link_text {
  }
  &__title {
    font-size: 2.5em !important;
    padding: 4px 0;
    margin-bottom: 13px;
    font-family: getFont(third);
  }
  &__title_big {
    font-size: 3em !important;
    font-weight: bolder;
    line-height: 55px;
    margin-bottom: 20px;
    font-family: getFont(third);
  }
  &__subtitle {
    font-size: 0.9em;
    &__big {
      font-size: 1.2em;
    }
  }
  &__subtitle_title {
    margin-right: 7px;
  }
  &__subtitle_text {
  }
  &__main {
    margin-top: 10px;
    padding-top: 5px;
    font-size: 1.2em;
    border-top: 1px solid getColor(main);
  }
  &__main_info {
    margin-top: 17px;
    margin-bottom: 10px;
  }
  &__btn {
    position: absolute;
    top: 10px;
    z-index: 3;
    right: 0px;
    opacity: 0;
    visibility: hidden;
  }
  &__image {
    height: 400px;
    width: 280px;
    border: 1px solid getColor(main-dark);
  }
}

.item_info {
  &__more {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__body {
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 20px;
    border-left: 1px solid getColor(main-dark);
    border-right: 1px solid getColor(main-dark);
    border-top: 4px solid getColor(accent);
    background-image: linear-gradient(white, transparent);
  }
  &__more_icon {
    font-size: 3.5em;
    color: getColor(bg-light);
  }
  &__more_text {
    color: getColor(bg-light);
    padding: 7px 0;
    font-size: 1.5em;
    font-family: getFont(second);
  }
  &__title {
    display: block;
    color: getColor(font);
    font-size: 1.4em;
    line-height: 25px;
    padding: 7px 0;
    padding-top: 10px;
    font-weight: bold;
    margin-bottom: 5px;
    border-bottom: 1px solid getColor(main-dark);
    font-family: getFont(third);
  }
}

.content_info {
  background-color: transparent;
  border: none;
  &__body {
    padding-left: 40px;
  }
}

.uploads {
  &__title {
    @extend %flex-center;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid getColor(main-dark);
    margin-bottom: 5px;
    height: 50px;
    & > span {
      margin-right: 7px;
      &:last-child {
        margin-right: 0px;
      }
    }
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    & > * {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
}

.module {
  border-top: 1px solid getColor(main-dark);
  margin-top: 20px;
  min-height: 500px;
  &__title {
    padding-bottom: 25px;
    margin-bottom: 10px;
    font-size: 2.5em;
    font-weight: bold;
    color: getColor(font);
    position: relative;
    display: inline-block;
    font-family: getFont(third);
    &::before {
      content: "";
      width: 30%;
      height: 5px;
      display: block;
      position: absolute;
      bottom: 20px;
      left: 0;
      z-index: -1;
      transition: getTransition(main);
      background-color: getColor(accent-main);
      transform: skew(30deg);
    }
    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
  &__title__nolink:hover {
    color: getColor(font-white);
    cursor: default;
    &::before {
      width: 30%;
    }
  }
  &__more {
    border-top: 1px solid getColor(main-dark);
    display: flex;
    justify-content: flex-end;
  }
  &__more_btn {
    border: 1px solid getColor(main-dark);
    margin-top: 10px;
  }
}

.module_about {
  min-height: 400px;
  &__link {
    @extend %link-reset;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    padding: 15px;
    &:hover {
      color: getColor(accent);
      .module_about__link_icon {
        border-color: getColor(accent);
      }
    }
  }
  &__link_icon {
    margin-right: 15px;
    color: getColor(font-light);
    display: flex;
    transition: getTransition(main);
    & > * {
      margin: auto;
      font-size: 20px;
    }
  }
  &__tiles {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    box-shadow: getShadow(secondary);
    max-width: 100%;
    width: 1160px;
    position: relative;
    z-index: 3;
    margin: 0 auto;
  }
}

.module_news {
  padding-top: 20px;
  border-top: 1px solid getColor(main-dark);
  min-height: 400px;
  &__grid {
    grid-gap: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 85vh;
  }
}
.news {
  display: flex;
  overflow: hidden;
  position: relative;
  &:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/2;
    .news__triangle {
      border-right-color: getColor(accent-main);
      border-right-width: 25px;
      left: -60px;
    }
  }
  &:nth-child(2) {
    grid-row: 2/3;
    grid-column: 1/2;
    .news__triangle {
      border-right-color: getColor(accent-main);
      border-right-width: 25px;
      left: -60px;
    }
  }
  &:nth-child(3) {
    grid-row: 1/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 7fr 1fr;
    grid-gap: 5px;
    & > * {
      &:nth-child(1) {
        grid-row: 1/2;
        grid-column: 2/3;
        margin-right: 0px;
      }
      &:nth-child(2) {
        grid-row: 1/3;
        grid-column: 1/2;
      }
      &:nth-child(3) {
        grid-row: 2/3;
        grid-column: 2/3;
        display: block;
        background-color: getColor(main);
        z-index: 3;
        position: relative;
      }
    }
    .news__triangle {
      border-left-color: getColor(accent-main);
      border-left-width: 25px;
      top: 50%;
      right: -60px;
      transform: translateY(-50%);
    }
    .news__body {
      border-right: 5px solid getColor(accent-main);
      border-left: none;
    }
  }
  &__preview {
    height: 100%;
    flex: 1;
    margin-right: 5px;
  }
  &__img {
    @extend %image;
  }
  &__more {
    @extend %btn-link;
    display: none;
  }
  &__body {
    width: 350px;
    background-color: getColor(accent);
    padding: 20px;
    @extend %flex-center;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 3;
    border-left: 5px solid getColor(accent-main);
    filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.7));
  }
  &__triangle {
    position: absolute;
    width: 0;
    height: 0;
    z-index: 3;
    border: 30px solid transparent;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
  &__link {
    @extend %flex-center;
    justify-content: flex-start;
    color: getColor(main-dark);
    text-transform: uppercase;
    &:hover {
      color: getColor(accent-main);
    }
  }
  &__link_icon {
    margin-right: 7px;
    font-size: 20px;
    color: getColor(font-white);
  }
  &__title {
    @extend %link-reset;
    font-size: 1.8em;
    color: getColor(font-white);
    font-family: getFont(third);
    padding-top: 25px;
    padding-bottom: 9px;
    margin-bottom: 25px;
    display: inline-block;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100px;
      height: 5px;
      z-index: 2;
      background-color: getColor(accent-main);
      transform: skew(30deg);
    }
    &:hover {
      color: getColor(accent-main);
    }
  }
  &__subtitle {
    color: getColor(main-dark);
    // font-weight: bold;
    font-size: 0.9em;
    // font-family: getFont(third);
    @extend %flex-center;
    justify-content: flex-start;
  }
  &__subtitle_icon {
    margin-right: 7px;
    font-size: 20px;
  }
}

.module_gallery {
  padding-top: 20px;
  border-top: 1px solid getColor(main-dark);
  min-height: 400px;
  &__grid {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr 1fr 3fr 1fr;
    grid-gap: 5px;
  }
  &__btn_more {
  }
}

.image {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    .image__overlay {
      opacity: 1;
      transform: translateX(0%);
    }
    .image__preview {
      transform: scale(1.2);
    }
    .image__btn_overlay {
      opacity: 1;
      right: 20px;
      visibility: visible;
      &:active {
        opacity: 0.5;
      }
    }
  }
  &:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  &:nth-child(2) {
    grid-row: 1/3;
    grid-column: 2/3;
  }
  &:nth-child(3) {
    grid-row: 1/3;
    grid-column: 3/4;
  }
  &:nth-child(4) {
    grid-row: 1/4;
    grid-column: 4/5;
  }
  &:nth-child(5) {
    grid-row: 2/5;
    grid-column: 1/2;
  }
  &:nth-child(6) {
    grid-row: 3/5;
    grid-column: 2/4;
  }
  &:nth-child(7) {
    grid-row: 4/5;
    grid-column: 4/5;
    @extend %btn-link;
  }
  &__preview {
    @extend %image;
    transition: getTransition(slow);
    transform: scale(1);
  }
  &__overlay {
    @extend %position-extend;
    background-color: getColor(bg);
    opacity: 0;
    transition: getTransition(main);
    transform: translateX(-50%);
  }
  &__icon {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    color: getColor(secondary);
    & > * {
      margin: auto;
      font-size: 20px;
      filter: drop-shadow(getShadow(main-dark));
    }
  }
  &__btn_overlay {
    position: absolute;
    right: 0px;
    top: 20px;
    z-index: 2;
    left: auto;
    opacity: 0;
    visibility: hidden;
  }
  &__date {
    @extend %position-extend;
    top: auto;
    text-align: center;
    background-color: getColor(bg);
    z-index: 3;
    font-size: 0.8em;
    height: 50px;
    overflow: hidden;
    color: getColor(font-white);
    transition: getTransition(second);
    display: flex;
    & > * {
      margin: auto;
    }
  }
}

.about {
  &__body {
  }
  &__title {
  }
  &__main {
    margin: 15px 0;
  }
  &__subtitle {
    font-size: 0.9em;
    @extend %flex-center;
    justify-content: flex-start;
    margin-bottom: 15px;
    & > *:first-child {
      margin-right: 7px;
      font-size: 1em;
    }
  }
  &__carousel {
    height: 400px !important;
  }
}

.module_contacts {
  background-color: getColor(accent);
  position: relative;
  &__body {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding: 50px 0px;
  }
  &__map {
    flex: 1;
    overflow: hidden;
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    & > * {
      width: 100%;
      height: 100%;
    }
  }
  &__container {
    padding: 15px 0;
    border-bottom: 1px solid getColor(bg-light);
  }
  &__minimized {
    .module_contacts__flex {
      display: block;
    }
    .module_contacts__body {
      width: 100%;
      margin-bottom: 0px;
      & > * {
        width: 100%;
      }
    }
    .module_contacts__map {
      display: none;
    }
    .module_contacts__contacts {
      width: 100%;
      padding-right: 0px;
    }
    .module_contacts__container {
      @extend %flex-center;
      gap: 10px;
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  &__flex {
    display: flex;
    width: 1200px;
    max-width: 100%;
    padding-left: 20px;
    margin: 0 auto;
  }
  &__contacts {
    width: 580px;
    max-width: 100%;
    padding-right: 25px;
  }
  &__title {
    & > * {
      color: getColor(font-white) !important;
      &:hover {
        color: getColor(accent-main);
      }
      &::before {
        z-index: 3 !important;
      }
    }
  }

  &__social_media {
    @extend %flex-center;
    gap: 10px;
    margin-top: 25px;
    flex-wrap: wrap;
  }
}

.contact {
  @extend %flex-center;
  justify-content: flex-start;
  padding: 5px 0px;
  &:nth-child(3) {
    border-bottom: none;
  }
  &__icon {
    font-size: 30px;
    margin-right: 7px;
    color: getColor(bg-light);
  }
  &__link {
    @extend %link-reset;
    color: getColor(font-white);
    &:hover {
      color: getColor(accent-main);
    }
  }
}

.social {
  border: 1px solid getColor(bg-light);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  transition: getTransition(main);
  &:hover {
    border-color: getColor(accent-main);
  }
  & > * {
    margin: auto;
    font-size: 1.5em;
    color: getColor(font-white);
  }
}

@keyframes scroll-x-2 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes scroll-x-1 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.module_links {
  overflow: hidden;
  padding-top: 20px;
  border-top: 1px solid getColor(main-dark);
  margin-bottom: 5px;
  &__wrapper {
    display: flex;
    width: 200vw;
    background-color: getColor(accent);
  }
  &__flex {
    display: flex;
    width: 100vw;
    max-height: 150px;
    &:nth-child(1) {
      animation: scroll-x-1 20s linear infinite;
    }
    &:nth-child(2) {
      animation: scroll-x-2 20s linear infinite;
    }
  }
}

.link {
  padding: 6vh 20px;
  flex: 1;
  & > * {
    @extend %image;
    object-fit: contain;
  }
}

.module_footer {
  margin-top: 5px;
  background-color: rgb(12, 12, 12);
  position: relative;
  overflow: hidden;
  z-index: 3;
  box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.3);
  &__border {
    height: 7px;
    background-image: getGradient(third-reversed);
  }
  &__title {
    font-size: 1.5em;
    font-family: getFont(third);
    color: getColor(font-white);
    font-weight: bold;
    padding-bottom: 25px;
    text-align: center;
  }
  &__flex {
    display: flex;
    align-items: flex-start;
  }
  &__logo_container {
    flex: 2;
    align-self: center;
    margin-right: 20px;
  }
  &__links {
    flex: 5;
    padding: 0px 25px;
    border-left: 1px solid getColor(bg-night);
  }
  &__socials {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 25px;
    border-left: 1px solid getColor(bg-night);
    align-items: center;
  }
  &__logo {
    height: 150px;
    display: block;
    & > img {
      @extend %image;
      object-fit: contain;
    }
  }
  &__section_links {
    display: flex;
    justify-content: space-between;
  }
}

.footer_link {
  color: getColor(font-white);
  @extend %flex-center;
  justify-content: flex-start;
  padding: 7px 0;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
  font-size: 0.9em;
  &__icon {
    font-size: 17px;
    color: getColor(bg-light);
    margin-right: 7px;
  }
}

@media (max-width: 1200px) {
  .module_news {
    &__grid {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
      height: 140vh;
    }
  }
  .news {
    &:nth-child(1) {
      grid-row: 1/2;
      grid-column: 1/2;
    }
    &:nth-child(2) {
      grid-row: 2/3;
      grid-column: 1/2;
    }
    &:nth-child(3) {
      grid-row: 3/4;
      grid-column: 1/2;
    }
  }
}

@media (max-width: 1080px) {
  .module_gallery {
    &__grid {
      height: 130vh;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 3fr 1fr 3fr 1fr 3fr;
    }
  }
  .image {
    &:nth-child(1) {
      grid-row: 1/2;
      grid-column: 1/2;
    }
    &:nth-child(2) {
      grid-row: 1/3;
      grid-column: 2/3;
    }
    &:nth-child(3) {
      grid-row: 1/3;
      grid-column: 3/4;
    }
    &:nth-child(4) {
      grid-row: 5/6;
      grid-column: 1/3;
    }
    &:nth-child(5) {
      grid-row: 2/5;
      grid-column: 1/2;
    }
    &:nth-child(6) {
      grid-row: 3/5;
      grid-column: 2/4;
    }
    &:nth-child(7) {
      grid-row: 5/6;
      grid-column: 3/4;
    }
  }
}

@media (max-width: 1000px) {
  .module_about {
    &__tiles {
      display: grid;
    }
  }
  .page_wrapper_flex {
    flex-direction: column;
  }
  .side_navbar {
    display: none;
  }
}

@media (max-width: 900px) {
  .page_wrapper {
    &__grid_4 {
      grid-template-columns: repeat(2, 1fr);
    }
    &__grid_3 {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .module_footer {
    &__logo_container {
      display: none;
    }
    &__links {
      border-left: none;
      padding-left: 0;
    }
  }
  .module_gallery {
    &__grid {
      height: 160vh;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 3fr 1fr 3fr 3fr 3fr;
    }
  }
  .image {
    &:nth-child(1) {
      grid-row: 1/2;
      grid-column: 1/2;
    }
    &:nth-child(2) {
      grid-row: 1/3;
      grid-column: 2/3;
    }
    &:nth-child(3) {
      grid-row: 2/4;
      grid-column: 1/2;
    }
    &:nth-child(4) {
      grid-row: 3/4;
      grid-column: 2/3;
    }
    &:nth-child(5) {
      grid-row: 4/5;
      grid-column: 1/3;
    }
    &:nth-child(6) {
      grid-row: 5/6;
      grid-column: 1/2;
    }
    &:nth-child(7) {
      grid-row: 5/6;
      grid-column: 2/3;
    }
  }
  .module_contacts {
    &__body {
      width: 100%;
      justify-content: flex-start;
      margin-bottom: 250px;
    }
    &__map {
      left: 0;
      right: 0;
      top: auto;
      bottom: 0;
      height: 250px;
    }
    &__flex {
      padding: 0px 20px;
    }
    &__contacts {
      width: 100%;
      padding-right: 0px;
    }
  }
}

@media (max-width: 800px) {
  .content {
    flex-direction: column;
    &__preview {
      max-width: 100%;
      margin: 0 auto;
    }
  }
}

@media (max-width: 700px) {
  .module_about {
    &__tiles {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .module_footer {
    &__links {
      flex: auto;
      width: 100%;
      padding: 0px;
    }
    &__flex {
      flex-direction: column;
    }
    &__socials {
      margin-top: 15px;
      border-top: 1px solid getColor(bg-night);
      padding-top: 15px;
      flex: auto;
      width: 100%;
      padding-left: 0px;
      border-left: none;
    }
  }
  .module_gallery {
    &__grid {
      height: 320vh;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 3fr 3fr 1fr 3fr 3fr 1fr 3fr 3fr 1fr 1fr;
    }
  }
  .image {
    &:nth-child(1) {
      grid-row: 1/2;
      grid-column: 1/2;
    }
    &:nth-child(2) {
      grid-row: 2/4;
      grid-column: 1/2;
    }
    &:nth-child(3) {
      grid-row: 4/5;
      grid-column: 1/2;
    }
    &:nth-child(4) {
      grid-row: 5/7;
      grid-column: 1/2;
    }
    &:nth-child(5) {
      grid-row: 7/8;
      grid-column: 1/2;
    }
    &:nth-child(6) {
      grid-row: 8/10;
      grid-column: 1/2;
    }
    &:nth-child(7) {
      grid-row: 10/11;
      grid-column: 1/2;
    }
  }
  .module_news {
    &__grid {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 3fr 3fr 3.45fr;
      height: 205vh;
    }
  }
  .news {
    flex-direction: column;
    &:nth-child(1) {
      grid-row: 1/2;
      grid-column: 1/2;
      .news__triangle {
        top: auto;
        left: auto;
        border-right-width: 30px;
      }
    }
    &:nth-child(2) {
      grid-row: 2/3;
      grid-column: 1/2;
      .news__triangle {
        border-right-width: 30px;
      }
    }
    &:nth-child(3) {
      grid-row: 3/4;
      grid-column: 1/2;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto 70px;
      grid-gap: 0px;
      & > * {
        &:nth-child(1) {
          grid-row: 1/2;
          grid-column: 1/2;
        }
        &:nth-child(2) {
          grid-row: 2/3;
          grid-column: 1/2;
        }
        &:nth-child(3) {
          grid-row: 3/4;
          grid-column: 1/2;
          margin-top: 5px;
        }
      }
      .news__triangle {
        border-left-color: transparent;
        border-left-width: 30px;
        top: auto;
        right: auto;
        left: auto;
        transform: translateY(0%);
      }
    }
    &__body {
      width: 100%;
      padding: 30px 20px;
      flex-direction: column;
      border-top: 5px solid getColor(accent-main);
      border-right: none !important;
      border-left: none !important;
    }
    &__triangle {
      border-bottom-color: getColor(accent-main);
      border-right-color: transparent !important;
      border-bottom-width: 25px !important;
      top: -60px !important;
      left: 50% !important;
      transform: translateX(-50%) !important;
    }
  }
  .link {
    padding: 3vh 20px;
  }
}

@media (max-width: 450px) {
  .module_footer {
    &__section_links {
      align-items: center;
      flex-direction: column;
    }
  }
  .footer_link {
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .page_wrapper {
    &__grid_4 {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
