@import "base";

.page_wrapper {
  &__grid_4 {
    display: grid;
    width: 100%;
    position: relative;
    align-items: flex-start;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
}

.section {
  margin-bottom: 20px;
  &__content {
    position: relative;
  }
  &__btn_edit {
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 20px;
  }
}

.content {
  @extend %flex-center;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid getColor(main-dark);
  background-color: getColor(secondary);
  padding: 20px;
  &__preview {
    width: 250px;
    height: 270px;
    display: flex;
    background-color: getColor(main);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &__extended {
      width: 100%;
    }
    &:hover {
      .content__img {
        transform: scale(1.1);
      }
      .content__overlay {
        opacity: 1;
        transform: translateX(0);
      }
      .content__btn {
        right: 10px;
        opacity: 1;
        visibility: visible;
        &:active {
          opacity: 0.5;
        }
      }
    }
    &__item_info {
      width: 100%;
      height: 375px;
    }
  }
  &__overlay {
    @extend %position-extend;
    z-index: 2;
    background-color: getColor(bg);
    opacity: 0;
    transition: getTransition(main);
    transform: translateX(-50%);
    display: flex;
  }
  &__overlay_text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: getColor(font-white);
    text-align: center;
    border-top: 1px solid getColor(bg-light);
    font-size: 0.8em;
    padding: 15px 0;
    transition: getTransition(second);
  }
  &__img {
    @extend %image;
    transform: scale(1);
    transition: getTransition(slow);
  }
  &__icon {
    margin: auto;
    font-size: 3em;
    color: getColor(main-dark);
  }
  &__body {
    flex: 1;
    padding-left: 20px;
  }
  &__link {
    font-size: 0.9em;
  }
  &__link_title {
    margin-right: 7px;
  }
  &__link_text {
  }
  &__title {
    font-size: 2em;
    padding: 5px 0;
  }
  &__subtitle {
    font-size: 0.9em;
  }
  &__subtitle_title {
    margin-right: 7px;
  }
  &__subtitle_text {
  }
  &__main {
    margin-top: 10px;
    padding-top: 5px;
    font-size: 1.2em;
    border-top: 1px solid getColor(main);
  }
  &__btn {
    position: absolute;
    top: 10px;
    z-index: 3;
    right: 0px;
    opacity: 0;
    visibility: hidden;
  }
}

.item_info {
  box-shadow: getShadow(card);
  // padding: 10px;
  background-color: getColor(secondary);
  &__more {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__body {
    padding: 10px;
    padding-top: 0px;
  }
  &__more_icon {
    font-size: 3.5em;
    color: getColor(bg-light);
  }
  &__more_text {
    color: getColor(bg-light);
    padding: 7px 0;
    font-size: 1.5em;
    font-family: getFont(second);
  }
  &__title {
    display: block;
    color: getColor(font);
    font-size: 1.3em;
    line-height: 25px;
    padding: 7px 0;
    padding-top: 10px;
    font-weight: bold;
    margin-bottom: 5px;
    border-bottom: 1px solid getColor(main);
  }
}
