@import "base";

.user {
  display: flex;
  &__preview {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 50%;
    border: 2px solid transparent;
    border-left-color: getColor(accent-main);
    border-bottom-color: getColor(accent);
    border-right-color: getColor(accent);
    border-top-color: getColor(accent-main);
    &:hover {
      .user__overlay {
        transform: translateX(0%);
        opacity: 1;
      }
      .user__btn_image {
        transform: translate(-50%, 0%);
        visibility: visible;
        opacity: 1;
      }
    }
  }
  &__info {
    flex: 1;
    margin-left: 25px;
    position: relative;
  }
  &__ava {
    @extend %image;
    border-radius: 50%;
  }
  &__icon {
    position: absolute;
    right: 16px;
    bottom: 16px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid getColor(main-dark);
    background-color: getColor(main);
    display: flex;
    & > * {
      margin: auto;
      font-size: 24px;
      color: getColor(accent);
    }
  }
  &__btn_lightbox {
    @extend %center-position;
    width: 93%;
    height: 93%;
    border: 1px solid getColor(main-dark);
    background-color: transparent;
    border-radius: 50%;
    overflow: hidden;
  }
  &__btn_image {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%, -100%);
    @extend %flex-center;
    visibility: hidden;
    opacity: 0;
    transition: getTransition(main);
    & > :first-child {
      margin-right: 5px;
    }
  }
  &__overlay {
    display: block;
    @extend %position-extend;
    background-color: getColor(bg);
    transition: getTransition(main);
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
    z-index: 5;
  }
  &__btn_flip {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 6;
    opacity: 1;
    visibility: visible;
    transition: getTransition(main);
    &__disappear {
      opacity: 0;
      visibility: hidden;
    }
  }
  &__form_btns {
    display: flex;
    height: 46.4px;
    margin-top: 10px;
    & > *:first-child {
      margin-right: 10px;
    }
  }
  &__section {
    display: none;
    background-color: getColor(secondary);
    &__open {
      display: block;
    }
  }
  &__section_content {
    padding: 25px;
    background-color: getColor(main);
  }
  &__title {
    font-size: 2.5em !important;
    padding: 4px 0;
    margin-bottom: 13px;
  }
  &__plug {
    color: getColor(font-light);
  }
  &__body {
    margin-top: 35px;
  }
  &__info_item {
    padding: 3px 0;
    font-size: 1.2em;
    & > * {
      &:first-child {
        margin-right: 7px;
      }
      &:last-child {
        font-weight: bold;
      }
    }
    &:last-child {
      border-top: 1px solid getColor(main-dark);
      font-size: 1em;
      padding: 5px 0;
      margin-top: 15px;
    }
  }
}
