@import "base";

.title {
  height: 50vh;
  @extend %background-accent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &__image {
    @extend %image;
    @extend %position-extend;
    z-index: 1;
  }
  &__layer {
    @extend %position-extend;
    z-index: 2;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.6)
    );
  }
  &__text {
    position: relative;
    z-index: 3;
    font-size: 4em;
    color: getColor(font-white);
    padding-top: 145px;
    font-weight: normal;
    // font-family: getFont(second);
    font-family: getFont(third);
    // font-weight: bold;
    // font-style: italic;
    // &::before {
    //   content: "";
    //   width: 60%;
    //   height: 25px;
    //   display: block;
    //   position: absolute;
    //   bottom: 15px;
    //   left: -7px;
    //   z-index: -1;
    //   background-color: getColor(bg-night);
    //   border-bottom: 1px solid getColor(bg-light);
    // }
  }
  &__btns {
    position: absolute;
    width: 1200px;
    max-width: 100%;
    top: 50%;
    padding: 0px 20px;
    z-index: 2;
    @extend %flex-center;
    justify-content: flex-end;
    & > *:first-child {
      margin-right: 5px;
    }
  }
}
