@import "base";

.title {
  height: 45vh;
  @extend %background-accent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &__image {
    @extend %image;
    @extend %position-extend;
    z-index: 1;
  }
  &__layer {
    @extend %position-extend;
    z-index: 2;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.5)
    );
  }
  &__text {
    position: relative;
    z-index: 3;
    font-size: 4em;
    color: getColor(font-white);
    padding-top: 105px;
    font-weight: bold;
    // text-transform: uppercase;
    font-weight: normal;
    font-family: getFont(second);
  }
}
