@import "base";

.title {
  height: 30vh;
  @extend %background-accent;
  position: relative;
  &__image {
    @extend %image;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  &__text {
    text-align: center;
  }
}
